:root {
  --jiggly-puff: #ff9ff3;
  --cassandra-yellow: #feca57;
  --pastel-red: #ff6b6b;
  --cyanite-color: #0abde3;
  --nasu-purple: #5f27cd;
  --exodus-fruit: #6c5ce7;
  --light-blue-ballerina: #f7d794;
  --imperial-primer: #222f3e;
  --start-color: #55efc4;
}

body {
  font-family: 'Mukta', sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-blue-ballerina);
}

header {
  margin: 0 auto;
  padding-top: 64px;
  width: 80%;
  height: 64px;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: var(--pastel-red);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 14px;
}

header h1 span {
  color: var(--cyanite-color);
}

main {
  width: 80%;
  max-width: 1140px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: var(--light-blue-ballerina);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main div#board {
  width: 400px;
  height: 350px;
  background-color: var(--nasu-purple);
  display: flex;
  justify-content: space-around;
  border: 12px solid #754bc8;
}

main div#board-base {
  width: 500px;
  height: 20px;
  background-color: #754bc8;
  box-shadow: 0 1px 10px 10px rgba(0, 0, 0, 0.01);
}

main div#base-bottom {
  width: 500px;
  height: 20px;
  background-color: #7c5eb8;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

main div#board div.boardColumn {
  margin: 14px 0;
  width: 50px;
  height: 90%;
  /* background-color: var(--jiggly-puff); */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

main div#board div.hole {
  background-color: var(--light-blue-ballerina);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0;
  border: 2px solid var(--nasu-purple);
  box-shadow: inset 1px 1px 3px 3px rgba(0, 0, 0, 0.7);
}

main div#board div.hole.player1 {
  background-color: var(--pastel-red);
}

main div#board div.hole.player2 {
  background-color: var(--cyanite-color);
}

main div#board div.hole.blocked {
  box-shadow: inset 1px 1px 5px 5px rgba(0, 0, 0, 0.7);
}

article#welcome-box {
  max-width: 600px;
  width: 90%;
  height: 400px;
  border-radius: 8px;
  padding: 32px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);

  background-color: var(--nasu-purple);

  transition: all 500ms ease-in-out;
}

article#welcome-box.active {
  top: 55%;
}

article#welcome-box h2 {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--light-blue-ballerina);
  font-weight: bold;
  margin-bottom: 24px;
}

article#welcome-box from {
  width: 100%;
}

article#welcome-box div.player-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  position: relative;
}

article#welcome-box div.player-input img#logo1,
article#welcome-box div.player-input img#logo2 {
  width: 20px;
  position: absolute;
  top: 35px;
  left: 80%;
}

article#welcome-box div.player-input label {
  margin-bottom: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--start-color);
}

article#welcome-box div.player-input input {
  width: 250px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  outline: none;
  border: none;
}

article#welcome-box div.player-input input#player1 {
  color: var(--pastel-red);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  background-color: var(--nasu-purple);
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.06),
               6px 6px 10px rgba(0, 0, 0, 0.2);
}

article#welcome-box div.player-input input#player1::placeholder {
  color: var(--pastel-red);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}

article#welcome-box div.player-input input#player2{
  color: var(--cyanite-color);
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: var(--nasu-purple);
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.06),
               6px 6px 10px rgba(0, 0, 0, 0.2);
}

article#welcome-box div.player-input input#player2::placeholder {
  color: var(--cyanite-color);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
}

article#welcome-box button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.06),
               6px 6px 16px rgba(0, 0, 0, 0.2);

  transition: all 200ms ease;
}

article#welcome-box button:active {
  box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.06),
  6px 6px 16px rgba(0, 0, 0, 0.2),
  inset -6px -6px 16px rgba(255, 255, 255, 0.06),
  inset 6px 6px 16px rgba(0, 0, 0, 0.2);
}

article#welcome-box button img {
  width: 60px;
  height: 60px;
  transform: scale(0.8);
  transition: all 200ms ease-in;
}

article#welcome-box button img:hover {
  transform: scale(1);
}

section#avatar1 {
  position: absolute;
  width: 200px;
  height: 100px;
  left: -30%;
  top: 30%;
  display: flex;
  align-items: center;
  transition: all 500ms ease-in;
}

section#avatar1.show {
  left: 10%;
}

section#avatar1 div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section#avatar1 div p,
section#avatar2 div p {
  margin-left: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--imperial-primer);

}

section#avatar1 img {
  width: 40px;
  transition: all 200ms ease-in;
}

section#avatar1 img.turn {
  transform: scale(2);
}

section#avatar1 p.turn {
  font-weight: bold;
  transition: all 400ms ease-in;
  text-transform: uppercase;
  color: var(--pastel-red);
}


section#avatar2 {
  position: absolute;
  width: 200px;
  height: 100px;
  right: -30%;
  top: 30%;
  display: flex;
  align-items: center;
  transition: all 500ms ease-in;
}

section#avatar2.show {
  right: 10%;
}

section#avatar2 div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

section#avatar2 img {
  width: 40px;
  transition: all 200ms ease-in;
}

section#avatar2 img.turn {
  transform: scale(2);
}

section#avatar2 p.turn {
  font-weight: bold;
  transition: all 400ms ease-in;
  text-transform: uppercase;
  color: var(--start-color);
}

article#result-box {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  padding: 32px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.4);

  background-color: var(--nasu-purple);

  transition: all 500ms ease-in-out;
}

article#result-box.show {
  top: 50%;
}

article#result-box img {
  width: 100px;
  margin-bottom: 32px;
}

article#result-box p {
  margin-bottom: 32px;
  font-size: 24px;
  text-align: center;
  color: var(--light-blue-ballerina);
}

article#result-box button {
  background-color: var(--nasu-purple);
  width: 100px;
  height: 40px;
  margin-top: 40px;
  font-weight: bold;
  color: var(--imperial-primer);
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 25px;
  outline: none;
  border: 2px solid var(--nasu-purple);
  box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.06),
  6px 6px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

article#result-box button:active {
  box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.06),
  6px 6px 16px rgba(0, 0, 0, 0.2),
  inset -6px -6px 16px rgba(255, 255, 255, 0.06),
  inset 6px 6px 16px rgba(0, 0, 0, 0.2);
}